html, body {
    height: 100%;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 120px auto 50px auto;
    background-color: rgb(124, 33, 243);
    border: 5px solid  rgb(112, 67, 170);
    padding: 1px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 1px;
    text-align: center;
  }

  h2 {

    font-family:Palatino Linotype, Georgia, "sans-serif";
    font-size: 3em;
    color: rgb(112, 67, 170);
  }

    #currentTurns {

    font-family:Palatino Linotype, Georgia, "sans-serif";
    font-size: 3em;
    text-align: left;
    color: rgb(112, 67, 170);

}

